@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-color);
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo img {
    margin-top: 20px;
    width: 200px;
    margin-bottom: 30px;
}

.titulo h1 {
    font-size: 30px;
    color: var(--text-color);

}

.titulo p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 30px;
}

p {
    margin-top: 20px;
    color: rgb(165, 165, 165);
    font-size: 17px;
}

#capa {
    width: 150px;
}


#filmes {
    background-color: var(--bg-cards);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 310px;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--text-color);
}

#resumo {
    line-height: 1.3em;
    font-size: 13px;
    text-align: justify;
    margin-left: 20px;
}

.container-filme {
    display: flex;
    flex-direction: column;
}